In [3]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps

# Import API key
api_key = '4c40af20838b5ef25e18bea36e5b841e0ec5138d'
c = Census(api_key, year = 2013)

# Output File (CSV)
output_data_file = "output_data/census.csv"

In [7]:
# Run Census Search to retrieve data on all states
# Note the addition of "B23025_005E" for unemployment count
census_data = c.acs5.get(("NAME", "B19013_001E", 
                          "B01003_001E", 
                          "B02001_001E", 
                          "B02008_001E", 
                          "B02009_001E", 
                          "B02011_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {"for": "zip code tabulation area: 63136, 63147, 63115, 63120," +\
                                                                             "63107, 63113, 63106, 63137,"+\
                                                                             "63125, 63111, 63123, 63118,"+\
                                                                             "63112, 63119, 63116, 63143,"+\
                                                                             "63104, 63109, 63139, 63103,"+\
                                                                             "63101, 63110, 63102, 63117,"+\
                                                                             "63133, 63108, 63130, 63105"})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B02001_001E": "Race",
                                      "B02008_001E": "White", 
                                      "B02009_001E": "Black",
                                      "B02011_001E": "Asian",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "zip code tabulation area": "Zip Code"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

# Add in Employment Rate (Employment Count / Population)
census_pd["Unemployment Rate"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd = census_pd[["Zip Code", "Name", "Population", "Race", "White", "Black", "Asian", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate", "Unemployment Rate"]]
census_pd

,Zip Code,Name,Population,Race,White,Black,Asian,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,63130,ZCTA5 63130,30810.0,30810.0,17389.0,12585.0,1560.0,55976.0,36054.0,4969.0,16.127881,5.066537
1,63133,ZCTA5 63133,8210.0,8210.0,558.0,7729.0,12.0,25239.0,13025.0,2815.0,34.287454,10.913520
2,63136,ZCTA5 63136,47220.0,47220.0,4834.0,42677.0,170.0,31051.0,16086.0,13019.0,27.570945,10.887336
3,63137,ZCTA5 63137,20546.0,20546.0,4458.0,16074.0,180.0,34019.0,16315.0,5275.0,25.674097,9.383822
4,63139,ZCTA5 63139,22212.0,22212.0,19132.0,2474.0,721.0,47280.0,30918.0,2667.0,12.007023,3.439582
5,63143,ZCTA5 63143,9996.0,9996.0,8165.0,1653.0,293.0,36210.0,25539.0,1905.0,19.057623,6.312525
6,63147,ZCTA5 63147,10534.0,10534.0,692.0,9800.0,20.0,29816.0,16969.0,2588.0,24.568065,10.375926
7,63101,ZCTA5 63101,2613.0,2613.0,1277.0,1284.0,62.0,54417.0,42701.0,610.0,23.344814,6.926904
8,63102,ZCTA5 63102,2216.0,2216.0,1012.0,1103.0,78.0,54018.0,32318.0,142.0,6.407942,2.572202
9,63103,ZCTA5 63103,6824.0,6824.0,3417.0,2961.0,402.0,34719.0,30274.0,1340.0,19.636577,5.216882
10,63104,ZCTA5 63104,19520.0,19520.0,9122.0,10028.0,394.0,45498.0,29780.0,5417.0,27.751025,5.747951
11,63105,ZCTA5 63105,17361.0,17361.0,13918.0,1726.0,1918.0,86031.0,57408.0,1206.0,6.946604,1.952652
12,63106,ZCTA5 63106,11736.0,11736.0,335.0,11448.0,23.0,15126.0,9532.0,6130.0,52.232447,9.151329
13,63107,ZCTA5 63107,12127.0,12127.0,1570.0,10584.0,11.0,23276.0,12838.0,4874.0,40.191309,11.552734
14,63108,ZCTA5 63108,21277.0,21277.0,11265.0,8178.0,1999.0,30157.0,31477.0,6409.0,30.121728,6.227382
15,63109,ZCTA5 63109,27658.0,27658.0,24664.0,2239.0,482.0,51951.0,32976.0,2528.0,9.140213,4.295321
16,63110,ZCTA5 63110,16635.0,16635.0,9700.0,6609.0,685.0,38036.0,26387.0,3863.0,23.222122,5.993387
17,63111,ZCTA5 63111,20891.0,20891.0,13308.0,7641.0,374.0,30334.0,17518.0,7096.0,33.966780,10.100043
18,63112,ZCTA5 63112,20110.0,20110.0,5208.0,14380.0,804.0,27383.0,20775.0,6589.0,32.764794,8.349080
19,63113,ZCTA5 63113,12239.0,12239.0,395.0,11806.0,28.0,24561.0,14068.0,4533.0,37.037340,12.648092
20,63115,ZCTA5 63115,21059.0,21059.0,187.0,20918.0,30.0,26183.0,14527.0,6870.0,32.622632,11.111639
21,63116,ZCTA5 63116,44010.0,44010.0,30892.0,9897.0,3636.0,40251.0,23436.0,9080.0,20.631675,7.062031
22,63117,ZCTA5 63117,9221.0,9221.0,7838.0,994.0,442.0,62593.0,48558.0,723.0,7.840798,2.624444
23,63118,ZCTA5 63118,27350.0,27350.0,11041.0,15090.0,1153.0,28630.0,18570.0,8977.0,32.822669,8.405850
24,63119,ZCTA5 63119,33929.0,33929.0,29913.0,3261.0,1020.0,68348.0,40788.0,2518.0,7.421380,3.516166
25,63120,ZCTA5 63120,9022.0,9022.0,177.0,8838.0,0.0,23996.0,12516.0,3215.0,35.635114,12.702283
26,63123,ZCTA5 63123,49390.0,49390.0,46444.0,1462.0,1814.0,52877.0,28928.0,4006.0,8.110954,4.359182
27,63125,ZCTA5 63125,32219.0,32219.0,30688.0,1158.0,1029.0,44458.0,23446.0,4640.0,14.401440,5.267078

In [8]:
store_count = pd.read_csv(
    "zip_group.csv", dtype="object", encoding="utf-8")
store_count.head()

  Zip Code Grocery Store Count
0    63141                   5
1    63108                   4
2    63118                   4
3    63017                   4
4    63116                   3

In [9]:
df_complete = pd.merge(
    census_pd, store_count, how="left", on=["Zip Code", "Zip Code"])

In [10]:
df_complete

,Zip Code,Name,Population,Race,White,Black,Asian,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate,Grocery Store Count
0,63130,ZCTA5 63130,30810.0,30810.0,17389.0,12585.0,1560.0,55976.0,36054.0,4969.0,16.127881,5.066537,1
1,63133,ZCTA5 63133,8210.0,8210.0,558.0,7729.0,12.0,25239.0,13025.0,2815.0,34.287454,10.913520,NaN
2,63136,ZCTA5 63136,47220.0,47220.0,4834.0,42677.0,170.0,31051.0,16086.0,13019.0,27.570945,10.887336,NaN
3,63137,ZCTA5 63137,20546.0,20546.0,4458.0,16074.0,180.0,34019.0,16315.0,5275.0,25.674097,9.383822,NaN
4,63139,ZCTA5 63139,22212.0,22212.0,19132.0,2474.0,721.0,47280.0,30918.0,2667.0,12.007023,3.439582,2
5,63143,ZCTA5 63143,9996.0,9996.0,8165.0,1653.0,293.0,36210.0,25539.0,1905.0,19.057623,6.312525,NaN
6,63147,ZCTA5 63147,10534.0,10534.0,692.0,9800.0,20.0,29816.0,16969.0,2588.0,24.568065,10.375926,NaN
7,63101,ZCTA5 63101,2613.0,2613.0,1277.0,1284.0,62.0,54417.0,42701.0,610.0,23.344814,6.926904,1
8,63102,ZCTA5 63102,2216.0,2216.0,1012.0,1103.0,78.0,54018.0,32318.0,142.0,6.407942,2.572202,NaN
9,63103,ZCTA5 63103,6824.0,6824.0,3417.0,2961.0,402.0,34719.0,30274.0,1340.0,19.636577,5.216882,NaN
10,63104,ZCTA5 63104,19520.0,19520.0,9122.0,10028.0,394.0,45498.0,29780.0,5417.0,27.751025,5.747951,2
11,63105,ZCTA5 63105,17361.0,17361.0,13918.0,1726.0,1918.0,86031.0,57408.0,1206.0,6.946604,1.952652,1
12,63106,ZCTA5 63106,11736.0,11736.0,335.0,11448.0,23.0,15126.0,9532.0,6130.0,52.232447,9.151329,NaN
13,63107,ZCTA5 63107,12127.0,12127.0,1570.0,10584.0,11.0,23276.0,12838.0,4874.0,40.191309,11.552734,NaN
14,63108,ZCTA5 63108,21277.0,21277.0,11265.0,8178.0,1999.0,30157.0,31477.0,6409.0,30.121728,6.227382,4
15,63109,ZCTA5 63109,27658.0,27658.0,24664.0,2239.0,482.0,51951.0,32976.0,2528.0,9.140213,4.295321,1
16,63110,ZCTA5 63110,16635.0,16635.0,9700.0,6609.0,685.0,38036.0,26387.0,3863.0,23.222122,5.993387,1
17,63111,ZCTA5 63111,20891.0,20891.0,13308.0,7641.0,374.0,30334.0,17518.0,7096.0,33.966780,10.100043,1
18,63112,ZCTA5 63112,20110.0,20110.0,5208.0,14380.0,804.0,27383.0,20775.0,6589.0,32.764794,8.349080,NaN
19,63113,ZCTA5 63113,12239.0,12239.0,395.0,11806.0,28.0,24561.0,14068.0,4533.0,37.037340,12.648092,1
20,63115,ZCTA5 63115,21059.0,21059.0,187.0,20918.0,30.0,26183.0,14527.0,6870.0,32.622632,11.111639,1
21,63116,ZCTA5 63116,44010.0,44010.0,30892.0,9897.0,3636.0,40251.0,23436.0,9080.0,20.631675,7.062031,3
22,63117,ZCTA5 63117,9221.0,9221.0,7838.0,994.0,442.0,62593.0,48558.0,723.0,7.840798,2.624444,1
23,63118,ZCTA5 63118,27350.0,27350.0,11041.0,15090.0,1153.0,28630.0,18570.0,8977.0,32.822669,8.405850,4
24,63119,ZCTA5 63119,33929.0,33929.0,29913.0,3261.0,1020.0,68348.0,40788.0,2518.0,7.421380,3.516166,1
25,63120,ZCTA5 63120,9022.0,9022.0,177.0,8838.0,0.0,23996.0,12516.0,3215.0,35.635114,12.702283,NaN
26,63123,ZCTA5 63123,49390.0,49390.0,46444.0,1462.0,1814.0,52877.0,28928.0,4006.0,8.110954,4.359182,NaN
27,63125,ZCTA5 63125,32219.0,32219.0,30688.0,1158.0,1029.0,44458.0,23446.0,4640.0,14.401440,5.267078,NaN