In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import imp

# Import API key
temp_file = imp.load_source("gkey", "../Project1/gkey.py")

gkey = temp_file.gkey

del temp_file

In [7]:
# Create lists for append
Name = []
Address = []
Zip_Code = []
Lat = []
Lng = []

In [8]:
# Build URL
params = {"key": gkey,
          "radius": 50000,
         "location": "38.627003, -90.199402",
         "keyword": "grocery",  
             }

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

stl_grocery = requests.get(base_url, params=params)

stl_grocery = stl_grocery.json()

    
    
    
# Call and Append Data from API
for x in range(0,20):
    
        Name.append(stl_grocery["results"][x]["name"])
        Address.append(stl_grocery["results"][x]["vicinity"])
        Lat.append(stl_grocery["results"][x]["geometry"]["location"]["lat"])
        Lng.append(stl_grocery["results"][x]["geometry"]["location"]["lng"])
        
# Capture PageToken for Next Page        
        ptoken = stl_grocery["next_page_token"]

In [9]:
# Page 2
params = {"key": gkey,
          "radius": 50000,
         "location": "38.627003, -90.199402",
         "keyword": "grocery",
        "pagetoken": f"{ptoken}"
             }

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

stl_grocery = requests.get(base_url, params=params)

stl_grocery = stl_grocery.json()

    
    
    

for x in range(0,20):
    
        Name.append(stl_grocery["results"][x]["name"])
        Address.append(stl_grocery["results"][x]["vicinity"])
        Lat.append(stl_grocery["results"][x]["geometry"]["location"]["lat"])
        Lng.append(stl_grocery["results"][x]["geometry"]["location"]["lng"])
        
        ptoken = stl_grocery["next_page_token"]

In [10]:
# Page 3
params = {"key": gkey,
          "radius": 50000,
         "location": "38.627003, -90.199402",
         "keyword": "grocery",
        "pagetoken": f"{ptoken}"
             }

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

stl_grocery = requests.get(base_url, params=params)

stl_grocery = stl_grocery.json()

    
    
    

for x in range(0,20):
    
        Name.append(stl_grocery["results"][x]["name"])
        Address.append(stl_grocery["results"][x]["vicinity"])
        Lat.append(stl_grocery["results"][x]["geometry"]["location"]["lat"])
        Lng.append(stl_grocery["results"][x]["geometry"]["location"]["lng"])

In [11]:
# Create DataFrame
dic = {
    "Name":Name,
    "Address":Address,
    "Lat":Lat,
    "Lng":Lng
}
supermarket_df = pd.DataFrame(dic)
supermarket_df.head(10)

,Name,Address,Lat,Lng
0,Fields Foods,"1500 Lafayette Ave, St. Louis",38.612256,-90.209282
1,Schnucks Arsenal,"5055 Arsenal, St. Louis",38.606803,-90.273927
2,Schnucks Lindell,"4171 Lindell Blvd, St. Louis",38.641805,-90.247256
3,Straub's,"8282 Forsyth Blvd, Clayton",38.652284,-90.344205
4,Dierbergs Markets - Brentwood Pointe,"8450 Eager Rd, St. Louis",38.627033,-90.339214
5,Schnucks Richmond Ctr.,"SCHNUCKS RICHMOND CTR., 6600 Clayton Rd, St. L...",38.633430,-90.314668
6,Schnucks South City,"3430 S Grand Blvd, St. Louis",38.595010,-90.242515
7,Schnucks Culinaria,"315 N 9th St, St. Louis",38.629126,-90.193581
8,Save-A-Lot,"1631 S Jefferson Ave, St. Louis",38.616046,-90.221852
9,Schnucks Dorsett,"2030 Dorsett Rd, Maryland Heights",38.716034,-90.456408

In [12]:
# Add Zip Code
supermarket_df['Zip Code'] = ""
supermarket_df.head()

,Name,Address,Lat,Lng,Zip Code
0,Fields Foods,"1500 Lafayette Ave, St. Louis",38.612256,-90.209282,
1,Schnucks Arsenal,"5055 Arsenal, St. Louis",38.606803,-90.273927,
2,Schnucks Lindell,"4171 Lindell Blvd, St. Louis",38.641805,-90.247256,
3,Straub's,"8282 Forsyth Blvd, Clayton",38.652284,-90.344205,
4,Dierbergs Markets - Brentwood Pointe,"8450 Eager Rd, St. Louis",38.627033,-90.339214,

In [13]:
# Build URL to Call Google Maps for Zip Codes
params = {"key": gkey}

# Loop through each store location
for index, row in supermarket_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    lat = row["Lat"]
    lng = row["Lng"]

    params["latlng"] = f"{lat},{lng}"

    # make request
    supermarket_zip = requests.get(base_url, params=params)
    
    # convert to json
    supermarket_zip = supermarket_zip.json()
    
# Pull Zip Codes

    supermarket_df.loc[index, "Zip Code"] = supermarket_zip["results"][0]["address_components"][6]["long_name"]
    if supermarket_df.loc[index, "Zip Code"] == "United States":
        supermarket_df.loc[index, "Zip Code"] = supermarket_zip["results"][0]["address_components"][7]["long_name"]
    elif supermarket_df.loc[index, "Zip Code"] == "Missouri":
        supermarket_df.loc[index, "Zip Code"] = supermarket_zip["results"][0]["address_components"][8]["long_name"]


supermarket_df.head(10)

,Name,Address,Lat,Lng,Zip Code
0,Fields Foods,"1500 Lafayette Ave, St. Louis",38.612256,-90.209282,63104
1,Schnucks Arsenal,"5055 Arsenal, St. Louis",38.606803,-90.273927,63139
2,Schnucks Lindell,"4171 Lindell Blvd, St. Louis",38.641805,-90.247256,63108
3,Straub's,"8282 Forsyth Blvd, Clayton",38.652284,-90.344205,63105
4,Dierbergs Markets - Brentwood Pointe,"8450 Eager Rd, St. Louis",38.627033,-90.339214,63144
5,Schnucks Richmond Ctr.,"SCHNUCKS RICHMOND CTR., 6600 Clayton Rd, St. L...",38.633430,-90.314668,63117
6,Schnucks South City,"3430 S Grand Blvd, St. Louis",38.595010,-90.242515,63118
7,Schnucks Culinaria,"315 N 9th St, St. Louis",38.629126,-90.193581,63101
8,Save-A-Lot,"1631 S Jefferson Ave, St. Louis",38.616046,-90.221852,63104
9,Schnucks Dorsett,"2030 Dorsett Rd, Maryland Heights",38.716034,-90.456408,63043

In [14]:
output_data_file = "grocery.csv"
supermarket_df.to_csv(output_data_file, index=False, header=True)

In [15]:
zip_group = supermarket_df.groupby(["Zip Code"])


store_count = zip_group['Name'].count()

zip_number = pd.DataFrame({"Grocery Store Count": store_count})

zip_number = zip_number.sort_values(["Grocery Store Count"], ascending=False)

zip_number.head(10)

          Grocery Store Count
Zip Code
63141                       5
63108                       4
63118                       4
63017                       4
63116                       3
63144                       3
63122                       2
63131                       2
63104                       2
63139                       2

In [16]:
zip_number.to_csv("zip_group.csv", index=True, header=True)